.card-container {
  width: 210px;
  height: 350px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}

.image-card {
  height: 100%;
  position: relative;
  border-radius: 15px;
  top: 0;
  left: 0;
}

.data-content {
  position: absolute !important;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
  height: 50%
}
